body{
	background-image: url(../img/honey_im_subtle.png);
	background-repeat: repeat;
	background-attachment: fixed;
	padding-top:0;
	font-family: 'Open Sans', sans-serif;
	color:#444;
}

@media all and (min-width: 800px) {
	div#main {
		position:relative;
		width:800px;
		margin: 40px auto 0 auto;
	}
}

@media all and (max-width: 799px) {
	div#main {
		position:relative;
		margin: 40px;
	}
}

header#global{
	background-color: #000;
	color:#fff;
	/*width: 100%;*/
	padding:30px;
	text-align: center;
}

span#blog-title{
	font-weight: bold;
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 0;
	display:block;
}



ul#social{
	list-style-type: none;
	padding:0;
	position: absolute;
	top:0;
	right:30px;
}

ul#social li{
	display:inline;
}

ul#social li:hover{
	color:#666;
}

div.content{
	position: relative;
	background-color:#fff;
}

div.post div.hero{
	width:100%;
	height: 300px;
	overflow:hidden;
	text-align:center;
}

div.her img {
	max-height:100%;
	margin:auto;
}

div.post-content {
	padding: 20px 80px;
}

div.content hr{
	color:#efefef;
}

h1.post-title, h2.mainpage-post-title {
	font-size:26px;
}

/*h1,h2,h3,h4,h5,h6{
	font-family: 'Rokkitt', serif;
}*/