html{
	padding:0;
}

body{
	/*background-image: url(../img/honey_im_subtle.png);*/
	background-repeat: repeat;
	background-attachment: fixed;
	padding-top:0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color:#444;
	font-size:1.25em;
}


@media all and (min-width: 800px) {
	div#main {
		position:relative;
		max-width:1000px;
		margin: 0 auto;
	}

	header#global{
		position:fixed;
		max-width:160px;
		padding-top:60px;
	}

	div.content{
		margin: 40px 0 0 160px;
		border-left: 1px solid #ccc;
		padding-left:30px;
		padding-top:40px;
	}


}

@media all and (max-width: 799px) {
	div#main {
		position:relative;
		width:100%;
	}

	div.content {
		padding:20px;
	}

	h1.post-title, h2.mainpage-post-title {
		text-align:center;
	}
}


header#global{
	/*width: 100%;*/
	text-align: center;
}

header#global p.about{
	font-size: .75em;
	font-style: italic;
}

a#blog-title, a#blog-title:visited{
	font-weight: bold;
	font-size:1em;
	margin-top: 0;
	margin-bottom: 0;
	display:block;
	color:#000;
	text-decoration: none;
}



ul#social{
	list-style-type: none;
	padding:0;
}

ul#social li{
	display:inline;
}

ul#social li a{
	text-decoration: none;
	color:#666;
}

ul#social li a:hover{
	color:#000;
}

div.content{
	position: relative;
	background-color:#fff;
}

div.post div.hero{
	width:100%;
	height: 300px;
	overflow:hidden;
	text-align:center;
}

div.her img {
	max-height:100%;
	margin:auto;
}

div.content hr{
	color:#efefef;
}

h1.post-title, h2.mainpage-post-title {
	font-size:32px;
}

h2.mainpage-post-title a, h2.mainpage-post-title a:visited {
	text-decoration: none;
	color: #444;
}

pre code {
	padding: 20px;
	background-color: #222;
	border-radius: 5px;
	font-size:.75em;
}

/*h1,h2,h3,h4,h5,h6{
	font-family: 'Rokkitt', serif;
}*/